<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movenywere - SSN campus navigation</title>
</head>
<body>
    <form method="post" action="/">
<select name="source">
    {% for src in sources %}
    <option value= "{{src}}">{{src}}</option>
    {% endfor %}
</select>

<select name="destination">
    {% for dest in destinations %}
    <option value= "{{dest}}">{{dest}}</option>
    {% endfor %}
</select>
    <input type="submit">
    </form>
</body>
{% include '__map.html' %}
</html>
